=========================
Python
=========================

pycache/
*.py[cod]
*$py.class

=========================
Virtual Environment
=========================

venv/
.venv/
env/
ENV/

=========================
IDE / Editor
=========================

.vscode/
.idea/

=========================
System Files
=========================

.DS_Store
Thumbs.db

=========================
Dataset (không push dataset)
=========================

VOC2012/
VOCdevkit/
newvoc/

=========================
Model Weights / Checkpoints
=========================

*.pt
*.pth
*.ckpt
checkpoints/
runs/
outputs/

=========================
Logs
=========================

*.log

=========================
Temporary files
=========================

tmp/
tmp.py

=========================
Jupyter
=========================

.ipynb_checkpoints/

=========================
Python Build
=========================

build/
dist/
*.egg-info/